/* #ifndef APP-PLUS-NVUE */

.scroll-row {
	white-space: nowrap;
	width: 100%;
}
.scroll-item {
	display: inline-block !important;
}
/* #endif */

.w-100 {
	width: 100%;
}

.p-2 {
	padding: 20rpx;
}
.p-4 {
	padding: 40rpx;
}

.p-6 {
	padding: 60rpx;
}

.p-2 {
	padding: 20rpx;
}

.m-2 {
	margin: 20rpx;
}

.border-radius {
	border-radius: 50%;
}

.b-r-5 {
	border-radius: 5rpx;
}

.flex {
	display: flex;
	flex-wrap: ;
}

.flex-1 {
	flex: 1
}

.flex-wrap {
	flex-wrap: wrap;
}

/* 纵轴）上居中放置 */
.align-center {
	align-items: center;
}

/* 项目位于各行之间留有空白的容器内 */
.justify-between {
	justify-content: space-between;
}

	
.justify-around {
	justify-content: space-around;
}
.justify-center {
	justify-content: center;
}

.follow {
	background: #fd597c;
	padding: 10rpx 8rpx;
	line-height: 1;
	text-align: center;
	border-radius: 4rpx;
	color: #FFFFFF;
}

.main-text {
	color: #fd597c;
}

.main-bg {
	background: #fd597c;
}

.font {
	font-size: 30rpx;
}
.font-sm {
	font-size: 25rpx;
}
.font-ml {
	font-size: 35rpx;
}
.font-lg {
	font-size: 45rpx;
}

.font-weigth {
	font-weight: 900;
}

.font-main-color {
	color: rgba(0, 0, 0, 0.85);
}

.font-second-color {
	color: rgba(0, 0, 0, 0.65);
}
.font-three-color {
	color: rgba(0, 0, 0, 0.45);
}
.font-lower-color {
	color: rgba(0, 0, 0, 0.45);
}

.position-bottom {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}

.bg-white {
	background: #fff;
}

.border-b {
	border-bottom: 1rpx solid #eee;
}

.po-re {
	position: relative;
}

.po-ab {
	position: absolute;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}